.container1 {
  background-color: rgba(0, 0, 50,0.9);
  height: auto;
  width: 60%;
   margin: 150px auto auto auto; 
  padding: 30px;
  border-radius: 10px;
}


h1 {
    text-align: center;
    color:white;
}

table {
    align-items: center;
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid blue;
    padding: 8px;
    text-align: left;
    color: white;
}

th {
    background-color:black;
}